.replys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.username {
  margin-left: 2rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.comment {
  margin-left: 0.3rem;
  font-size: 0.9rem;
}

.delete {
  margin-left: 10px;
  background-color: white;
  border: 0;
}
