.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modalbox {
  display: hidden;
  position: fixed;
  transform: translate(6%, -55%);
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 70%;
  height: 600px;
  border: 4px solid #a3c6ff;
  padding: 6%;
  opacity: 0.5;
}

.close {
  margin-top: 40%;
  width: 30%;
  height: 600%;
  background-color: greenyellow;
  font-size: large;
}

.text {
  margin-top: 10%;
  font-size: 40px;
}
