.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.logo {
  width: 100px;
  margin-top: 20px;
}

.menu a:hover {
  background-color: #0dff9c;
  border-radius: 4px;
}
