
.App {
  font-size: 5;
  box-sizing: border-box;
  width: 155vw;
  max-width: 750px;
  min-width: 240px;
  height: 300vh;
  background-color:  #ffffff ;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}