.review {
  display: flex;
  list-style: none;
  padding: 0.5rem 0.5rem;
}

.content {
  flex: 1 0 0;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  display: inline-block;
  font-weight: 700;
  margin-left: 0.5rem;
}

.createdAt {
  display: inline-block;
  color: gray;
  margin-left: 0.5rem;
}

.comment {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.modify {
  background-color: white;
  border: 0;
}

.delete {
  margin-left: 10px;
  background-color: white;
  border: 0;
}
