.comment {
  width: 60%;
  height: 100px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-width: 1.5px;
  font-size: 15px;
  border: 2px solid #0b409c;
  outline: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.submit {
  display: table;
  height: 50px;
  width: 20%;
  background-color: #0b409c;
  margin-left: auto;
  margin-top: 0.5rem;
  margin-right: auto;
  border-width: 1.5px;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
}

.line {
  border: 0.5px solid #0b409c;
}

.posts {
  flex: 1 0 80vh;
  border: 0.5px solid gray;
  overflow-y: scroll;
}

.out {
  float: right;
  font-size: 1.5rem;
  background-color: white;
  border-width: 0em;
}

.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  font-weight: 700;
  height: 30px;
  margin-right: 1rem;
}

.logo {
  width: 100px;
  margin-top: 20px;
  margin-left: 10px;
  border: 3px double #0d3f9c;
  border-radius: 50%;
  cursor: pointer;
}

.btn:hover {
  background-color: #0d3f9c;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
