.header {
  display: flex;
  height: 5rem;
  padding: 1em 1em;
  height: 50px;
  background: #f5f5f5;
}

.div {
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
}

.form {
  display: inline-block;
  width: 450px;
}

.input {
  width: 90%;
  border: 3px solid #0b409c;
  border-radius: 5px 0 0 5px;
  padding: 5px;
  height: 30px;
  font-size: 1.2rem;
  outline: none;
}

.button {
  width: 40px;
  height: 30px;
  border: 1px solid #0b409c;
  background: #0b409c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.button:hover {
  opacity: 0.8;
}
